{% extends 'blog/base.html' %}

{% block content %}	
	{%for post in posts %}
	<div class="post">
		
		<h1><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>
		<div class=date><p><strong>published: {{ post.published_date }}</strong></p></div>
		<p>{{  post.text |linebreaksbr	}}			</p>
	</div>
	{{post}}
	{% endfor %}

<strong> <ul>
 		<li> <a href="/">1st Post </a> </li>
 		<li>
 			<a hreflang="/">2nd Post</a>
 		</li>
 		<li> <a href="/">3rd Post </a></li>
 		<li><a href ="/"> 4th Post</a> </li>

 	</ul>
 	  </strong>	
{% endblock %}